.btn {
    position: relative;
    display: block;
    background: $white;
    border: none;
    color: $black;
    padding: 17px 37px;
    border-radius: 100px;
    font-weight: bold;
    outline: none !important;
    overflow: hidden;
    z-index: 1;
    mix-blend-mode: screen;
    text-align: center;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-white {
    background: $white;
    color: $black;
    border: 5px solid $white-grayer;

    &::after {
        content: "";
        position: absolute;
        display: block;
        transition: 0.25s;
        background: $white-grayer;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        transform-origin: 50% 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        z-index: -1;
    }

    &:hover{
        color: $black;

        &::after {
            opacity: 1;
            transform: scale(15);
            transition-timing-function: ease-in-out;
        }
    }
}

.btn-green {
    background: $green;
    color: $white;
    border: 5px solid $green-darker;

    &::after {
        content: "";
        position: absolute;
        display: block;
        transition: 0.25s;
        background: $green-darker;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        transform-origin: 50% 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        z-index: -1;
    }

    &:hover{
        color: $white;

        &::after {
            opacity: 1;
            transform: scale(15);
            transition-timing-function: ease-in-out;
        }
    }
}

.btn-blue {
    background: $white;
    color: $black;
}

@media only screen and (min-width: 770px) {
    .btn {
        padding: 7px 20px;
    }
}
