$header-height: 60px;
$image-size: 60px;

.body {
    padding-top: $header-height !important;
}

.page-header {
    position: fixed;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background-color: $white;
    padding: 0px $body-padding;
    z-index: 100;

    .btn-menu {
        width: $header-height;
        height: $header-height;
        padding: 14px 0px;
        background: none;
        border: none;
        outline: none !important;
        cursor: pointer;

        .icon::before {
            font-size: 2rem;
        }
    }

    .sidemenu-overlay {
        position: fixed;
        display: none;
        height: 100vh;
        width: 100vw;
    }

    .sidemenu {
        position: fixed;
        display: block;
        height: 100vh;
        width: 50vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        left: -55vw;
        padding: 15px;
        transition: left 0.2s cubic-bezier(0.51, -0.02, 0.74, 0.05);
        background: $white;
        box-shadow: 0px 0px 6px 1px $gray;
        overflow: auto;

        .sidemenu-close {
            position: absolute;
            top: 0;
            right: 0;
            width: $header-height;
            height: $header-height;
            padding: 14px 0px;
            background: none;
            border: none;
            outline: none !important;
            cursor: pointer;

            .icon::before {
                font-size: 2rem;
            }
        }

        .sidemenu-head {
            display: flex;
            margin-bottom: 30px;

            img {
                width: $image-size;
                height: $image-size;
                border: 5px solid $white;
                margin-right: 15px;
            }

            p {
                font-size: 1.2rem;
                font-weight: bold;
                margin: 0;
                height: $image-size;
                line-height: $image-size;
            }
        }

        .sidemenu-list {
            position: relative;
            padding: 0;
            margin: 0;

            .sidemenu-item {
                list-style: none;
                cursor: pointer;
                transition: .2s;
                padding: 0;

                a, p {
                    display: block;
                    color: $black;
                    text-decoration: none !important;
                    margin: 0;
                    padding: 10px 15px;
                }

                &:hover {
                    background: $white-grayer;
                    font-weight: bold;
                }
            }

            .item--divider {
                height: 2px;
                background: $white-grayer;
                padding: 0 !important;
                margin: 0;
            }
        }
    }

    .sidemenu--open {
        position: absolute;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0 !important;
    }

    .sidemenu-overlay--open {
        position: absolute;
        display: block;
        background: $overlay-background;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        animation-name: fade-in;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }

}

@media only screen and (max-width: 570px) {
    .page-header {
        .sidemenu {
            width: 80vw;
            left: -88vw;
        }
    }
}

@media only screen and (min-width: 770px) {

    .page-header{
        .sidemenu {
            width: 400px;
            left: -410px;

            .sidemenu-head {
                img {
                    width: $image-size;
                    height: $image-size;
                }

                p {
                    font-size: 1.3rem;
                    height: $image-size;
                    line-height: $image-size;
                }
            }
        }
    }
}

@keyframes fade-in {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
