.spinner {
    display: none;
    z-index: 200;

    &--shown {
        display: block;
    }

    &--fixed {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
    }
}
