.mg-auto {
    margin: auto !important;
}

.no-mg {
    margin: 0 !important;
}

.rotate-45deg-right {
    transform: rotate(45deg);
}

.list-style-none {
    list-style: none !important;
}

.width-100 {
    width: 100% !important;
}
