$font-family: 'Nunito', sans-serif;

$black: #333333;
$gray:#595959;

$white: #fcfcfc;
$white-grayer: #e8e8e8;

$green: #29a329;
$green-darker: #1f7a1f;

$blue: #008ae6;
$blue-darker: #006bb3;

$orange: #ff9900;
$orange-darker: #eb8d00;

$red: #ff4d4d;
$red-darker: #ff1a1a;

$body-padding: 20px;
$font-size-sec-title: 1.4rem;
$font-size-sec-title-small: 1.1rem;
$overlay-background: rgba(0, 0, 0, 0.5);

$simbolo-lg-height: 190px;
$simbolo-lg-width: 130px;

$simbolo-md-height: 150px;
$simbolo-md-width: 100px;

$simbolo-sm-height: 140px;
$simbolo-sm-width: 100px;

$simbolo-senteca-dim: 90px;
$simbolo-tradutor-dim: 90px;