$font-family: 'Nunito', sans-serif;

$black: #333333;
$gray:#595959;

$white: #fcfcfc;
$white-grayer: #e8e8e8;

$green: #29a329;
$green-darker: #1f7a1f;

$blue: #008ae6;
$blue-darker: #006bb3;

$red: #ff4d4d;
$red-darker: #ff1a1a;
