.app-title {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;

    span {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 5rem;
        line-height: normal;
    }
}

@media only screen and (min-width: 770px) {
    .app-title {
        font-size: 1.7rem;

        span {
            font-size: 2.6rem;
        }
    }
}
